__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
.venv/
venv/
env/

# IDEs
.vscode/

# Environment files
*.env
interninfos/.env
D:\InTeRNShiP\Infosys\Collaborative\Extracting-Insights-from-Customer-Feedback\interninfos\config.py

# OS
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
